.scene {
  overflow: hidden;
  border: 10px solid var(--box-color);

  .game-board {
    display: grid;
    grid-gap: 1px;
  }

  .cell {
    border: 1px solid var(--box-color);
  }

  .snake {
    background-color: var(--snake-color);
  }

  .food {
    background-color: var(--food-color);
  }

  .game-over {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h4 {
      color: var(--game-over-color);
      font-size: 2rem;
      margin: 0;
      margin-bottom: 1rem;
    }
    button {
      background: transparent;
      border: 2px solid var(--game-over-color);
      width: 100%;
      padding: 0.7rem;
      color: var(--game-over-color);
      font-size: 1.3rem;
    }
  }
}
.score {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--text-color);
}
